.order-th, .order-td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 16px;
}
.order-name{
    max-width: 150px; 
    overflow-wrap: break-word; 
    white-space: normal;
}
.order-top-div {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

.order-contain {
    position: relative;
    height: 200px;
}

.order-contain-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15%;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.order-contain-top-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #8B8C89;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 12px;
}

.order-contain-content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-contain-content-img {
    flex: 20%;
    max-width: 20%;
    max-height: 100%;
}

.order-contain-content-shop{
    flex: 70%;
    text-align: center;
    font-size: 15px;
}

.order-contain-content-price{
    flex: 10%;
    text-align: right;
}

.order-contain-foot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-contain-foot-time {
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.order-contain-foot-button {
    background-color: #274C77;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

.display{
    display: none;
}

.collection{
    background-color: #B8CCD5;
}

#collection-product{
    color: #8B8C89;
    font-weight: bolder;
}

#collection-service{
    color: #8B8C89;
    font-weight: bolder;
}

